.copy-button {
            margin-left: 25px;
            padding: 0; /* Remove padding to fit the icon */
            width: 24px; /* Set the width of the button to fit the icon */
            height: 24px; /* Set the height of the button to fit the icon */
          	background: url('images/copy.png') no-repeat;
          	border:none;
          	outline:none;
          	background-color:transparent;
           
}

.paste-button {
            margin-left: 5px;
            padding: 0; /* Remove padding to fit the icon */
            width: 24px; /* Set the width of the button to fit the icon */
            height: 24px; /* Set the height of the button to fit the icon */
          	background: url('images/paste.png') no-repeat;
          	border:none;
          	outline:none;
          	background-color:transparent;
           
}
