.lookupIcon {
	background-image: url('lookup.png');
	background-repeat: no-repeat;
	width: 48px;
	height: 48px;
	text-align: center;
	
}
.lookupButtonClass {
	padding-top: 12px;
    padding-left: 20px;
}

.custLabel {
	    padding-right: 55px;
    padding-left: 30px;
}

.searchButtonClass {
	padding-top: 20px;
    padding-left: 175px;
}