<div id="widget_${id}" class="dijitInline dijitReset dijitLeft idxComposite pvrDropDownEditor"
	><div class="idxLabel dijitInline dijitHidden" data-dojo-attach-point="labelWrap"
		><span class="idxRequiredIcon">*&nbsp</span
		><label for="${id}" data-dojo-attach-point="compLabelNode"></label
	></div
	><div class="dijitInline" data-dojo-attach-point="fieldWrap"
		><div class="dijitInputContainer dijitInline" tabIndex="0" data-dojo-attach-point='focusNode,contentNode,textbox,stateNode,oneuiBaseNode' autocomplete='off'
			><div data-dojo-type="${_dropDownControl}" data-dojo-attach-point="_dropDownButton"
				><div class="pvrDropDownTooltipDialog" data-dojo-type="idx/widget/TooltipDialog" data-dojo-params="autofocus:false" data-dojo-attach-point="_dialog"
					><div class="dijitDialogPaneContentArea" data-dojo-attach-point="_contentNode"></div
					><div class="dijitDialogPaneActionBar"
						><div data-dojo-type="dijit/form/Button" data-dojo-attach-point="_okButton" data-dojo-attach-event="onClick: _onClickOK"></div
						><div data-dojo-type="dijit/form/Button" data-dojo-attach-point="_cancelButton" data-dojo-attach-event="onClick: _onClickCancel"></div
					></div
				></div
			></div
			><div class="idxUnit dijitInline dijitHidden" data-dojo-attach-point="compUnitNode"></div
			><div class='dijitReset dijitValidationContainer dijitInline' data-dojo-attach-point="iconNode"
				><div class="dijitValidationIcon"
					><input class="dijitReset dijitInputField dijitValidationInner" value="&#935; " type="text" tabIndex="-1" readonly="readonly" role="presentation"
				/></div
			></div		
        ></div
		><div class="dijitHidden idxHintOutside" data-dojo-attach-point="compHintNode"></div
	></div
></div>

<button data-dojo-attach-point="customButton">Click Me!</button>